In [2]:
## Keras Tuner Hyperparameter Tuning-How To Select Hidden Layers And Number of Hidden Neurons In ANN

import pandas as pd #dataanalysis
from tensorflow import keras #to define and train neural network models 
from tensorflow.keras import layers #consists of a tensor-in tensor-out computation function
!pip install -q -U keras-tuner
from kerastuner.tuners import RandomSearch # it will search & find the best suit no. neurons  of neural networks & layers for the model

     |████████████████████████████████| 71kB 5.0MB/s
  Building wheel for keras-tuner (setup.py) ... done
  Building wheel for terminaltables (setup.py) ... done

In [4]:
df=pd.read_csv('Real_Combine.csv')

In [5]:
df.head()

      T    TM   Tm     SLP     H   VV    V    VM      PM 2.5
0   7.4   9.8  4.8  1017.6  93.0  0.5  4.3   9.4  219.720833
1   7.8  12.7  4.4  1018.5  87.0  0.6  4.4  11.1  182.187500
2   6.7  13.4  2.4  1019.4  82.0  0.6  4.8  11.1  154.037500
3   8.6  15.5  3.3  1018.7  72.0  0.8  8.1  20.6  223.208333
4  12.4  20.9  4.4  1017.3  61.0  1.3  8.7  22.2  200.645833

In [ ]:
#air quality index prediction 
#this is regression problem
#how?
#since in regression we predict account

In [ ]:
# pm 2.5 is dependent feature
# all others are independent features.


#loc is label-based, which means that you have to specify rows and 
# columns based on their row and column labels. iloc is integer index based, so you have to
# specify rows and columns by their integer index

https://www.geeksforgeeks.org/python-extracting-rows-using-pandas-iloc/

In [ ]:
https://stackoverflow.com/questions/57872755/what-is-1-in-python

In [ ]:
#[:,:-1] all rows and all column except the last one 
#[:,-1] all rows and last column

In [ ]:
X = df.iloc[:,:-1] ##independent features
y = df.iloc[:,-1] ##dependent features

In [ ]:
def build_mdel(hp):
    model = keras.Sequential()  #allows you to create models layer-by-layer for most problems. 
              # It is limited in that it does not allow you to create models that share layers or have multiple inputs or outputs.

    for i in range(hp.Int('num_layes' , 2 , 20)):
        model.add(layers.Dense(units=hp.Int('units_')))